<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <form class="d-flex d-none d-sm-block">
      <button (click)="clickContinue()" [disabled]="disableContinue()"
          type="button" class="btn btn-outline-info">{{continueText()}}</button>
    </form>
    <form class="d-flex flex-grow-1 d-block d-sm-none">
      <button (click)="clickContinue()" [disabled]="disableContinue()"
          type="button" class="btn btn-outline-info btn-lg flex-grow-1">{{continueText()}}</button>
    </form>
    <span class="navbar-text d-none d-sm-block"><span class="fs-6">v</span><span class="fs-5">{{version}}</span></span>
  </div>
</nav>
