<div class="container-fluid text-white">
  <div class="row">
    <div class="col">
      <h3>Options</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>How many expansions do you want to play with?</p>
      <nav>
        <ul class="pagination pagination-lg">
          <li *ngFor="let _ of [].constructor(maxNumExpansions()); let i = index"
              class="page-item" (click)="selectNumExpansions(i + 1)"
              [ngClass]="{'active': selectedNumExpansions == (i + 1)}">
          <a class="page-link">{{(i + 1)}}</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</div>
