<div class="row">
  <div class="col">
    <h3 class="text-center">Options</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="text-center">How many sets do you want to play with?</p>
    <nav>
      <ul class="pagination justify-content-center">
        <li *ngFor="let _ of [].constructor(maxNumSets()); let i = index"
            class="page-item" (click)="selectNumSets(i + 1)"
            [ngClass]="{'active': selectedNumSets == (i + 1)}">
          <a class="page-link">{{(i + 1)}}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row" *ngIf="canHaveLandscapes()">
  <hr>
  <div class="col">
    <p class="text-center">How many landscape cards do you want to play with?</p>
    <nav>
      <ul class="pagination justify-content-center">
        <li *ngFor="let _ of [].constructor(maxNumLandscapes() + 1); let i = index"
            class="page-item" (click)="selectNumLandscapes(i)"
            [ngClass]="{'active': selectedNumLandscapes == i}">
          <a class="page-link">{{i}}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <hr>
  <h5 class="text-center">Override Set</h5>
  <p class="text-center">Really itching to play a specific set? If so, pick one here and the randomizer will be guaranteed to choose it.</p>
  <div class="col-lg-9">
    <div class="d-flex align-content-start flex-wrap justify-content-center">
      <app-card *ngFor="let set of selectedSets()" [card]="set" (click)="selectOverrideSet(set)"></app-card>
    </div>
  </div>
  <div class="col-lg-3">
    <p class="text-center" *ngIf="!overrideSet()"><em>None selected</em></p>
    <div class="d-flex justify-content-around">
      <app-card large *ngIf="overrideSet()" (click)="unselectOverrideSet()" [card]="overrideSet()!"></app-card>
    </div>
  </div>
</div>
