<nav class="navbar fixed-top navbar-dark bg-dark">
	<div class="container-fluid" id="offcanvasContainer">
    <button [disabled]="!navService.showBackButton()" (click)="navService.clickBackButton()" type="button" class="btn btn-outline-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
      Back
    </button>
		<span class="navbar-brand d-none d-lg-block navbar-logo"><span class="h3">Y</span>et <span class="h3">A</span>nother <span class="h3">R</span>andomizer for <span class="h3">D</span>ominion</span>
    <span class="navbar-brand justify-content-center d-block d-lg-none navbar-logo">YARD</span>
    <button class="navbar-toggler" type="button" (click)="openOffcanvas(offcanvasContent)">
      <span class="navbar-toggler-icon"></span>
    </button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1">
      <ng-template #offcanvasContent let-offcanvas>
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Drezell47 - 2022</h5>
          <button type="button" class="btn-close btn-close-white" (click)="offcanvas.close()"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
              <a class="nav-link fs-4" routerLink="/sets" routerLinkActive="active" (click)="offcanvas.close()">Sets</a>
            </li>
            <li *ngIf="navService.canShowOptions()" class="nav-item">
              <a class="nav-link fs-4" routerLink="/options" routerLinkActive="active" (click)="offcanvas.close()">Options</a>
            </li>
            <li *ngIf="navService.canShowResult()" class="nav-item">
              <a class="nav-link fs-4" routerLink="/result" routerLinkActive="active" (click)="offcanvas.close()">Result</a>
            </li>
          </ul>
          <form class="d-flex mt-4">
            <button (click)="offcanvas.close(); navService.startOver()" class="btn btn-outline-danger" type="button">Start Over</button>
          </form>
        </div>
      </ng-template>
		</div>
	</div>
</nav>
