<div class="row">
  <div class="col">
    <h3 class="text-center">Sets</h3>
    <p class="text-center">Which sets would you like to use?</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="text-center">
      Available
      <button [disabled]="unselectedSets().length === 0" (click)="selectAll()"
          type="button" class="btn btn-outline-success btn-sm">Select All</button>
    </h3>
    <app-card *ngFor="let set of unselectedSets()" [set]="set" (click)="select(set)"></app-card>
  </div>
  <div class="col">
    <h3 class="text-center">
      Selected
      <button [disabled]="selectedSets().length === 0" (click)="unselectAll()"
          type="button" class="btn btn-outline-danger btn-sm">Remove All</button>
    </h3>
    <app-card *ngFor="let set of selectedSets()" [set]="set" (click)="unselect(set)"></app-card>
  </div>
</div>
