<div class="container-fluid text-white">
  <div class="row">
    <div class="col">
      <h3>Expansions</h3>
      <p>Which expansions do you want to be included in the randomization?</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>
        Available Expansions
      </h3>
      <p>
        <button *ngIf="unselectedExpansions().length > 0" (click)="selectAll()"
            type="button" class="btn btn-outline-success btn-sm">Select All</button>
      </p>
      <div *ngFor="let expansion of unselectedExpansions()" class="card card-clickable" (click)="select(expansion)"
          [style.background]="'linear-gradient(to bottom, #DDDDDD, ' + expansion.color + ' 20%)'">
        <img class="icon" [src]="expansion.icon">
        <p>{{expansion.name}}</p>
        <img [src]="expansion.art">
      </div>
    </div>
    <div class="col">
      <h3>
        Selected Expansions
      </h3>
      <p>
        <button *ngIf="selectedExpansions().length > 0" (click)="unselectAll()"
            type="button" class="btn btn-outline-danger btn-sm">Remove All</button>
      </p>
      <div *ngFor="let expansion of selectedExpansions()" class="card card-clickable" (click)="unselect(expansion)"
          [style.background]="'linear-gradient(to bottom, #DDDDDD, ' + expansion.color + ' 20%)'">
        <img class="icon" [src]="expansion.icon">
        <p>{{expansion.name}}</p>
        <img [src]="expansion.art">
      </div>
    </div>
  </div>
</div>
