@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Charlemagne';
  src: url('assets/fonts/CharlemagneStd-Bold.otf') format('opentype');
}

body {
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: default;
  user-select: none;
  background-color: black;
}
