@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Charlemagne';
  src: url('assets/fonts/CharlemagneStd-Bold.otf') format('opentype');
}

body {
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: default;
  user-select: none;
  background-color: black;

  @media screen and (max-width: 575px) {
    margin-bottom: 68px;
  }
}

.card {
  font-family: 'Charlemagne';
	position: relative;
	display: inline-block;
	width: 150px;
	height: 170px;
	margin: 0 4px;
	border: 1px solid #000000;
	border-radius: 8px;
	overflow: hidden;
	transition: 0.1s ease;

  &.card-clickable {
		cursor: pointer;

		&:hover {
			transform: translateY(-3px);
		}
	}

  img {
		max-height: 140px;
		display: block;
		margin: -2px auto 0;

		&.icon {
			position: absolute;
			right: 6px;
			top: 6px;
			margin: 0;
			object-fit: contain;
			height: 16px;
			width: 16px;
		}
	}

	p {
		margin: 0;
		padding: 0 0 0 6px;
		color: black;
		font-size: 11pt;
		line-height: 30px;
	}

	&.card-large {
		width: 240px;
		height: 270px;
		border-radius: 12px;

		img {
			max-height: 240px;
			margin: 0 auto;

			&.icon {
				right: 6px;
				top: 6px;
				height: 20px;
				width: 20px;
			}
		}

		p {
			font-size: 16pt;
			line-height: 30px;
		}
	}
}
